{% for customer in customers %}

<article id="customers-results">
  <p class="message">{{ customer['customername'] }}</p>
  <p>{{ customer['address'] }}</p>
  <p>{{ customer['postalcode'] }}</p>
  <p>{{ customer['city'] }}</p>
  <p>{{ customer['country'] }}</p>
  <small>{{ customer['username'] }}</small>
  {% if g.user['userID'] == customer['author'] %}
  <a
    class="submit-btn"
    href="{{ url_for('customers.update', customerID=customer['customerID']) }}"
    >Edit Message</a
  >
  {% endif %}
  <aside></aside>
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %}
