{% extends 'base.html' %} {% block header %}
<h2>{% block title%}Customers{% endblock title %}</h2>
<span>{{ g.user['username'] }}</span>
{% endblock %} {% block content %}
<form>
  <div class="form-group">
    <input
      type="text"
      name="search"
      hx-post="/customers/search"
      hx-trigger="keyup changed delay:500ms"
      hx-target="#customers-results"
      placeholder="Search Customers"
      class="form-control"
    />
  </div>
</form>
<a href="{{ url_for('customers.create') }}">Create a Customer</a>
<section id="customers-results">
  {% if request.args.get('viewmode') == 'list' %} {% include
  "/customers/_customersrows.html" %} {% else %} {% include
  "/customers/_customerstable.html" %} {% endif %}
</section>
{% endblock content %}
