{% extends 'base.html' %} {% block header %}
<h2>{% block title%}Customers{% endblock title %}</h2>
<span>{{ g.user['username'] }}</span>
{% endblock %} {% block content %}
<form>
  <div class="form-group">
    <input
      type="text"
      name="search"
      hx-post="/customers/search"
      hx-trigger="keyup changed delay:250ms"
      hx-indicator="htmx-indicator"
      hx-target="#customers-results"
      placeholder="Search Customers"
      class="form-control"
    />
  </div>
</form>
<a href="{{ url_for('customers.create') }}">Create a Customer</a>
<section id="customers-results">
  {% for customer in customers %}

  <article id="customers-results">
    <p class="message">{{ customer['customername'] }}</p>
    <p>{{ customer['address'] }}</p>
    <p>{{ customer['postalcode'] }}</p>
    <p>{{ customer['city'] }}</p>
    <p>{{ customer['country'] }}</p>
    <small>{{ customer['username'] }}</small>
    {% if g.user['userID'] == customer['author'] %}
    <a
      class="submit-btn"
      href="{{ url_for('customers.update', customerID=customer['customerID']) }}"
      >Edit Message</a
    >
    {% endif %}
    <aside></aside>
  </article>
  {% if not loop.last %}
  <hr />
  {% endif %} {% endfor %}
</section>
{% endblock content %}
