<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board | {% block title %}{% endblock title %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
  </head>
  <body>
    <h1>Message Board</h1>
    {% include('_navigation.html') %}
    <!-- <header>
      {% block header %}{% endblock header %}
      <div class="flash success">Everything worked</div>
      <div class="flash error">Oh no! something went wrong.</div>
    </header> -->
    <!---->
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <!---->
    <section>
      <main>
        {% block content %}
        <p>No messages</p>
        {% endblock content %}
      </main>
    </section>
    <!---->
  </body>
</html>
